:root {
  --green-color: #5FD662; 
  --blue-color: #2D86E2;
  --dark-blue-color: #2171c4;
  --dark-green-color:#4ab44d;
  --grey-color: #2c3e50;
  --orange-color: #d35400;
  --light-grey-color: #ecf0f1;
}

.reminderWrapper {
	height: 100%;
}

.reminderBlock {
	background: var(--blue-color);
	color: #fff;
	height: 100%;
    width: 100%;
    position: relative;
	transition: all 0.25s ease;
}

.reminderBlock.transition {
	position: absolute;
	top: 320px;
}
	
.reminderBlock.transition.open{
	position: absolute;
	top: 0px;
	overflow: auto;
}

.reminderBlock.open .reminderTitleAction {
	box-shadow: 0px -6px 5px 5px #000;
}


.reminderBlock.weekend {
	background: var(--green-color);
	color: #fff;
}

.reminderTitleAction {
	background-color: inherit;
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	font-weight: lighter;
	position: sticky;
    top: 0px;
    z-index: 100;
}

.reminderTitleAction .title {
	font-size: 14px;
	margin-bottom: 2px;
}

.reminderTitleAction .left {
	padding: 2px 10px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
}

.left .todayDate {
	position: absolute;
    top: -100px;
    width: 100%;
    height: 100%;
    background-color: inherit;
    font-size: 10px;
    left: 0px;
    padding-top: 10px;
    text-align: center;
    transition: all 0.15s ease
}

.left:hover .todayDate {
    top: 0px;
}

.left:hover .title, .left:hover .dateValue {
	visibility: hidden;
}


.reminderTitleAction .dateValue {
	font-size: 11px;
}

.reminderTitleAction button {
	background-color: inherit;
	border: 1px solid transparent;
}

.reminderBlock .reminderTitleAction button:hover, .reminderTitleAction .left:hover {
	border: 1px solid #fff;
	background-color: var(--dark-blue-color);
}

.reminderBlock.weekend .reminderTitleAction button:hover {
	border: 1px solid #fff;
	background-color: var(--dark-green-color);
}

.reminder {
	position: relative;
	display: flex;
	background-color: inherit;
	padding: 0px 10px
}

.reminder .line{
	width: 5%;
	border-right: 1px dashed #fff; 
	position: relative;
	background-color: inherit;
}

.reminder .circle{
	width: 12px;
	height: 12px;
	position: absolute;
	top: 11px;
	right: -6px;
	border: 1px solid #fff;
	background-color: inherit;
	border-radius: 50%;
	z-index: 10
}

.reminder .content{
	position: relative;
	width: 95%;
	padding-left: 5%;
	margin-bottom: 15px;
	padding-top: 10px;
	font-size: 10px;
	font-weight: lighter;
}

.reminder .title {
	font-size: 12px;
	font-weight: normal;
	padding-left: 5px;
	margin-bottom: 5px;
}

.reminder .contentText {
	font-weight: inherit;
	display: flex; 
	margin-bottom: 2px;
}

.reminder .contentText .icon {
	font-size: 12px;
}

.reminder .contentText .text {
	font-size: 12px;
	margin-right: 10px;
}

.reminder .location{ }
.reminder .time{ display: flex; }

	
.addEventFormContainer {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 0%;
	padding: 0px 15px;
	z-index: 200;
	color: inherit;
	background: rgba(255,255,255,0.75);
	transition: all 0.10s ease;
	overflow: hidden;
}

.reminderBlock.open .addEventFormContainer {

}

.addEventForm {
	background: #fff;
	display: flex;
	box-sizing: border-box;
	color: #fff;
	box-shadow: 0px 5px 5px -5px #000;
	border-radius: 2px;
    padding: 15px;
	border: 1px solid var(--dark-blue-color);
	position: relative;
	top: 50px;
	flex-grow: 1;
	flex-direction: column;
}

.addEventForm input {
	display: block;
	padding:5px;
	border: 1px solid #ddd;
	border-radius: 2px;
	margin-bottom: 10px; 
}

.addEventForm .datePicker {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px; 
	width: 100%;
}

.addEventForm .saveButton {
	background-color: var(--blue-color);
	transition: all 0.25s ease;
}

.addEventForm .saveButton:hover {
	background-color: var(--dark-blue-color);
}


.reminderBlock.weekend .addEventForm .saveButton {
	background-color: var(--green-color);
}

.reminderBlock.weekend .addEventForm .saveButton:hover {
	background-color: var(--dark-green-color);
}


.addEventForm .datePicker select{
	width: 30%;
}

.reminderBlock.open .addEventFormContainer .addEventForm{
	top: 100px;
}

.reminderBlock.weekend .addEventForm {
	border: 1px solid var(--dark-green-color);
}



